# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# If you use PostgreSQL, you can ignore local dump files
*.dump
*.sql

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Environment variables
.env
*.env

# VS Code and other editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Linux
*.swp

# Virtual environments
venv/
ven/
env/
ENV/
.venv/
.python-version

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# Pyre type checker
.pyre/
